#|================================|
#|              git               |
#|================================|
/*
!.gitignore
!LICENSE
!README.md

#|================================|
#|            config              |
#|================================|
!/config/
/config/*client.toml
/config/*.bak
/config/xaero*
/config/pneumaticcraft/
/config/jei/bookmarks.ini
/config/blame-forge.properties

#|================================|
#|         serverconfig           |
#|================================|
!/defaultconfigs/

#|================================|
#|             kubejs             |
#|================================|
!/kubejs/
/kubejs/exported/
/kubejs/README.txt
